@charset "UTF-8";
* {
    padding: 0;
    margin: 0; 
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: lightgray;
}
.container{
 width: 100%;
margin: auto;
overflow: hidden;

}
ul {
    margin: 0;
    padding: 0;
}



body .highlight{
    color: #e8491d;
    font-weight: bold;
  
  
}
body .highlight2 {
	color: #353535;
}
/* start carousel */

.carousel-inner img{
    max-height: 480px;
    
    
    }
    /*end carousel */

/* stappenplan bestellen */
.rowroadmap{
	display: flex;
	flex-direction: row ;
    text-align: center;
    padding-left: 20px;
    width: 100%;

    
	background-color: #aa5500;
	
}


.rowroadmap img{
	height: 140px;
	width: 140px;
    padding-top: 20px;
    display: inline;
}
.rowroadmap p {
    margin-top: 10px;
	color: white;
	position: center;
	
}
@media screen and (max-width: 800px) {
  .rowroadmap  {
display: block;
margin-bottom: -15px;

  }
  .rowroadmap img{
      height: 125px;
      width: 125px;
  }
  .rowroadmap p {
      font-size: 15px;
  }
}

/*  end stappenplan bestellen */


/* registration and login*/
.login {
	margin-top: 50px;
    text-align: center;
    color:#fff;
    padding: 30px;
    float: right;
    margin-bottom: 20px;

}

.login .btn{
  border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: rgb(59, 58, 58);
    font-weight: 600;
    color: white;
    margin-top: 40px;

}

.login .btn:hover {
background: black;
}
.login h3 {
    font-size: 36px;
    text-align: center;
}

.register{
margin-top: 20px;
    background: rgb(226, 116, 79);
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    padding: 70px;
    float: left;
    box-shadow: 20px 20px 30px  grey;
    border-radius: 1.5rem;
    width: 50%;
    padding: 12px 20px;
   margin-top: 70px;
   margin-bottom: 50px;
    box-sizing: border-box;
    border: 1px solid black;

}

@media screen and (max-width: 800px) {
    .register  {
  width: 100%;
    }
    .form-group input {
        width: 500px;
    }
 
}
.register input {
    width: 85%;
    border-radius: 1.5rem;
}
.register .btn {
    border-radius: 1.5rem;
    border: none;
    width: 170px;
    background: rgb(59, 58, 58);
    font-weight: 600;
    color: white;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 20px;
  
}
.register .btn:hover{
    background: black;
}
.register h2{
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 10px;
}

.login form input {
    border-radius: 1.5rem;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;

}
.login form label {
    border-radius: 1.5rem;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
   color: black;
    
}


/* end login */


 /*begin menu */
.buttons  {
 margin-top: 5%;
 margin-bottom: 2%;
  display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
.buttons button {
    margin-top: 5%;

  display: flex;
}

.form-group {
    margin-left: 10px;
    margin-right: 10px;
}


 /*menu list */ 
.product_tile
{
   margin-top: 50px;
   display: inline-block;
    position: relative;
    padding-bottom: 25px !important;
}



.title_row
{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: rgba(38, 29, 86, 1);
}

.section_row
{
    margin-left: 21%;
    margin-top: 20px;
    flex-wrap: nowrap;
}


.section_row .section_product_tile
{
    box-shadow: inset 0 0 25px rgba(255,255,255,0.15),
    inset 0 4px 0 rgb(226, 116, 79),
    inset 0 -4px 0 rgba(0,0,0,0.05),
    inset 0 10px 10px rgba(0,0,0,0.09),
    0 1px 0px rgba(0,0,0,0.1),
    0 8px 7px rgba(0,0,0,0.15);
border: 1px solid rgba(0,0,0,0.1);

    max-width: 375px;
}




.section_row img
{
    margin-bottom: 50px;
margin-top: 25px;
    position: relative;
    width: 200px;
    border-radius: 100%;
    padding: 15px;
    background-color: rgba(0,0,0,0.05);
    box-shadow: inset 0 0 25px  rgb(226, 116, 79),
                inset 0 4px 0 rgba(88, 30, 30, 0.05),
                inset 0 -4px 0 rgba(0,0,0,0.05),
                inset 0 10px 10px  rgb(226, 116, 79),
                0 1px 0px rgba(0,0,0,0.1),
                0 8px 7px rgba(0,0,0,0.15);
    border: 1px solid  rgb(226, 116, 79);
}

 .section_meta
{
    
    line-height: 18px;
}

.product_title
{   
    font-size: 20px;
    font-weight: 500;
    color: rgba(38, 29, 86, 1);
}
.product_info{
    color: rgb(138, 138, 138);
    font-size: 20px;
    font-weight: 500;
}

.section_row .product_price
{
    font-size: 20px;
    font-weight: 500;
    color: rgba(38, 29, 86, 0.5);
}


/*end menu */




   /*footer*/ 
   .footer-container{
      background-color: burlywood;
       height: 140px;
       display: flex;
       justify-content: center;
     
   }
   .footer-copyright {
    background-color: rgb(59, 58, 58);
      height: 70px;
      color: whitesmoke;
    
   }

  /* end footer*/
 

